/////////////////////////////*fonts//////////////////////////////////
$regular-font:  'Lato', sans-serif;
$bold-font: 'Lato', sans-serif;
////////////////////////////*colors/////////////////////////////////
$nav-color: #ffffff;
$title-color: #777777;
$primary-color: #bfbfbf;
$primary-numbers-color: #fd7858;


// Small tablets and large smartphones (landscape view)
$screen-xs-max: 576px; // 576

// Small tablets (portrait view)
$screen-sm-max: 768px;

// Tablets and small desktops
$screen-md-max: 992px;

// Large tablets and desktops
$screen-lg-max: 1200px;